<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
		<title>binbox.kr:/{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" >
        <meta name="viewport" content="width=device-width">
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-28697211-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
	</head>
	<body>
        <div id="header">
            <a href="/"><pre>{{ logo }}</pre></a>
        </div>
        <div id="navigation">
            <ul>
                <li><a href="/faq/">faq</a></li>
                <li><a href="/users/">users</a></li>
                <li><a href="/vhosts/">vhosts</a></li>
                <li><a href="/talks/">talks</a></li>
            </ul>
        </div>
        <div id="main">
            <h2>binbox.kr:/{{ self.title() }}</h2>
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <p>Copyright &copy; 2011&ndash;2012 BINBOX</p>
        </div>
	</body>
</html>
